.toggleContainer {
	height: 200px;
	width: 250px;
	float: left;
	margin-left: 20px;
}
.parent {
	float: left;
	font-weight: bold;
}
.details {
	clear: both;
	height: 15px;
	padding-left: 5px;
	font-style: italic;
}
.childContainer {
	background-color: #fff;
	border: 1px solid #777;
	width: 150px;
}
.child {
	margin-left: 20px;
}

.toggle {
	float: left;
	margin-left: 10px;
}
